[alias]
    ci = commit
    co = checkout
    st = status
    br = !branch_name="$(git branch | grep '*')" && echo ${branch_name/* /}
    fush = push --force-with-lease

[core]
    excludesfile = ~/.gitignore_global
    precomposeUnicode = true

[color]
    branch = auto
    diff = auto
    status = auto

[branch]
    autosetuprebase = always

[init]
    defaultBranch = main

[commit]
    gpgsign = true

[gpg]
    format = ssh

[push]
    autoSetupRemote = true

[include]
    path = ~/.gitconfig_local
