[user]
  name = Chris Lowder
  email = clowder@gmail.com

[alias]
  ci = commit
  co = checkout
  st = status
  br = !branch_name="$(git branch | grep '*')" && echo ${branch_name/* /}

[core]
  excludesfile = ~/.gitignore_global

[color]
  branch = auto
  diff = auto
  status = auto

[github]
  user = clowder
